<!DOCTYPE html>
<html>
    <head>
        <title>Express - Cookies</title>
    </head>
    <body>

        <h1>Express - Cookies</h1>
        <h2>Home</h2> 
        <p><%= user.name%></p>
        <p><%= user.email%></p>
        <p><%= user.role%></p>

        <a href="/admin/home">Admin Area</a><br/>
        <a href="/student/home">Student Area</a>
        <br/><br/><br/>
        <a href="/logout">Logout</a>

    </body>
</html>