<!DOCTYPE html>
<html>
    <head>
        <title>Express - Basic Auth</title>
    </head>
    <body>

        <h1>Express - Basic Auth</h1>
        User: <%= loggedUser.name %>
        <h2>New Product</h2>
        <form action="/prod/new" method="POST">
            Name: <input type="text" name="name"/><br/>
            Price: <input type="number" name="price"/><br/>
            <input type="submit" value="Save"/>
        </form> 
    </body>
</html>