<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (condicao) { %> 
        <h2>Condicao verdadeira</h2>
    <% } %> 
    <p><%= message %></p>
    <ul>
      <li><a href="/produto/cadastrar">Cadastrar Produto</a></li>
      <li><a href="/produto/listar">Listar Produto</a></li>
    </ul>
  </body>
</html>