<!DOCTYPE html>
<html>
    <head>
        <title>Express - Basic Auth</title>
    </head>
    <body>

        <h1>Express - Basic Auth</h1>
        <h2>User Home</h2>
        <h3> User: <%= user.name %></h3>
        <br/>
        <a href="/prod/new">Add Product</a><br/> 
        <a href="/prod/list">List Products</a> 
    </body>
</html>