<!DOCTYPE html>
<html>
    <head>
        <title>Express - Cookies</title>
    </head>
    <body>

        <h1>Express - Cookies</h1>
        <h2>Admin - Home</h2> 
        <p><%= user.name%></p>
        <p><%= user.email%></p>
    </body>
</html>