<!DOCTYPE html>
<html>
  <head>
    <title>Loja</title>
  </head>
  <body>
    <h2>Produto - Cadastrar</h1>
    <form action="/produto/cadastrar" method="POST">
      Nome: <input name="nome" required/><br/>
      Preco: <input name="preco" required/><br/>
      <input type="submit" value="Salvar"/>
    </form>
    
    <ul>
      <li><a href="/home">Home</a></li>  
    </ul>
  </body>
</html>