<!DOCTYPE html>
<html>
  <head>
    <title>Loja</title>
  </head>
  <body>
    <h2>Produto - Cadastrar</h2>
    Produto cadastrado com sucesso <br/>
    <hr/>
    Id: <%= produto.id %> <br/>
    Nome: <%= produto.nome %> <br/>
    Preco: <%= produto.preco %> <br/>
    
    <ul>
      <li><a href="/home">Home</a></li>  
    </ul>
  </body>
</html>